docs
notebooks
references
reports
scripts
__pycache__
.mypy_cache
.container_env
.env.example
.env
.flake8
.gitignore
.pre-commit-config.yaml
docker-compose.yaml
Dockerfile.experiments
Makefile
mypy.ini
README.md
setup.cfg
